<div id="calculator">
  <div class="result"><p>{{message}}</p></div>
  <div class="clear" (click)="clear()">C</div>
 
  <span  (click)="Clicked('7')">7</span>
  <span  (click)="Clicked('8')">8</span>
  <span  (click)="Clicked('9')">9</span>
  <span  (click)="Clicked('+')">+</span>
 
  <span  (click)="Clicked('4')">4</span>
  <span  (click)="Clicked('5')">5</span>
  <span  (click)="Clicked('6')">6</span>
  <span  (click)="Clicked('-')">-</span>
 
  <span  (click)="Clicked('1')">1</span>
  <span  (click)="Clicked('2')">2</span>
  <span  (click)="Clicked('3')">3</span>
  <span  (click)="Clicked('/')">/</span>
 
  <span  (click)="Clicked('0')">0</span>
  <span  (click)="Clicked('.')">.</span>
  <span  (click)="resultat()">=</span>
  <span  (click)="Clicked('*')">*</span>
  </div>

 
      

    
